<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml" 
	xmlns:th = "http://www.thymeleaf.org" 
	xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Add Product</title>
<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js" ></script>

<script type="text/javascript">
      
         $(document).ready(function(){
            $.getJSON("http://localhost:8080/product_list", function(result){
               $.each(result, function(key,value) {
                  $("#productsJson").append(value.productId+" "+value.productName+"<br>");
               }); 
            });
         });
      </script>
   </head>
   
   <body>
   		<div>
			<h1 th:inline = "text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
      		<form th:action = "@{/logout}" method = "post">
         		<input type = "submit" value = "Sign Out"/>
      		</form>
		</div>
		<div>
			<a href="product_add_form" >Add Product</a>
		</div>
      	<div id = "productsJson" style="text-align: center" > </div>
   </body>
</html>